h2, h5, h6, ul {
    text-align: left;
}

#to-do {
    padding-right: 5%;
    list-style-type: circle;
}

.imageIcon {
    height: 60px;
    float: left;
    margin-right: 2%;
}

#cointainer-box {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 6%;
    padding-bottom: 3%;
}

#second {
    position: fixed;
    width: 100%;
}

.frame {
    padding-bottom: 15%;
}

#carousel {
    clear: both;
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
    #cointainer-box {
        padding-top: 30%;
    }
}

@media screen and (min-width: 820px) and (min-height: 1180px) {
    #cointainer-box {
        padding-top: 30%;
    }
}

@media screen and (max-width: 800px) {
    #cointainer-box {
        padding-top: 24%;
    }
}

@media screen and (max-width: 800px) and (max-height: 685px) {
    #cointainer-box {
        padding-top: 10%;
    }
    #second {
        position: relative;
    }
}
